PINECONE_API_KEY=<your_pinecone_api_key>
OPENAI_API_KEY=<your_open_api_key>
PINECONE_INDEX_NAME=healthcare-policies
PINECONE_NAMESPACE=health-policy-v1
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
OPENAI_MODEL=gpt-4.1-mini
EMBEDDING_MODEL_ID=pritamdeka/S-PubMedBert-MS-MARCO
